.pro{
    background-color: white;
    width: 1120px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 2rem;
    height: 28rem;
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    padding-top: 1.6rem;
}
.image-container{
    width: 600px; 
    height: 395px; 
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 20px;
    cursor: pointer;
}
.image-container img {
    width: 100%; 
    height: auto; 
    transition: transform 3s ease-in-out;
  }
  .image-container:hover img {
    transform: translateY(-50%); 
  }
  .pro-details{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
  }

  .pro-details h3{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
    font-size: 1.7rem;
    padding-top: 1rem;
  }

  .pro-details img{
    height: 40px;
  }
  .pro-details p{
    color: #767676; 
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .5px;
  }


  .pro-details .stack span{
    font-weight: bold;
    padding: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-right: 1rem;
  }
  .pro-details .code a{
    text-decoration: none;
    color: #2d2e32;
    transition: 0.3s ease-in;
  }
  .pro-details .code a:hover{
    color: #FFCF2D;
  }
  .pro-details .code span{
    font-weight: bold;
    padding: .5rem;
    font-size: 1.1rem;
    margin-right: 1rem;
  }
  .pro-details .code span svg{
    font-size: 1.2rem;
  }
  .olx{

    display: flex;
    align-items: center;
    position: relative;

  }
  .olx img{

position: absolute;
    left: 140px;
  }
  .olx .l{
    left: 150px;
  }
  .olx .x{
    left: 160px;
  }
  .video-container{
    width: 600px; 
    height: 395px; 
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 20px;
    cursor: pointer;
  }
 



@media (max-width: 1140px) {
.pro{
    width: 700px;
    height: 50rem;
    flex-direction: column;
    align-items: center;    
    gap: 0rem;
}
.image-container{
  width: 650px; 
  height: 450px; 
}
.image-container img {
  width: 100%; 
  height: auto; 
}
.pro-details{
  width: 90%;
  gap: 1rem; 
}
.stack{
  margin:1rem 0;
}
.b-pro{
  flex-direction: column-reverse;
}
.video-container{
  width: 650px; 
  height: 450px; 
}
}
@media (max-width: 750px) {
  .pro{
    width: 500px;
    height: 55rem;
   
}
.image-container{
  width: 450px; 
  height: 400px; 

}
.image-container img {
  width: 100%; 
 
}
.pro-details{
  width: 60%;
 
}
.stack-small{
  margin:1rem 0;
  width: 400px;
}

.video-container{
  width: 450px; 
  height: 400px; 
}
}
@media (max-width: 450px) {
  .pro{
    width: 380px;
   
}
.image-container{
  width: 350px; 
}
.video-container{
  width: 350px; 

}
.pro-details p{ 
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: .5px;

}
.pro-details{
  width: 80%;

}
.stack-small{
 
  margin:1rem 0;
  width: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-details h3{

  font-size: 1.3rem;
  
}
}